{% extends 'base.html.twig' %}

{% block title %}Your profile{% endblock %}

{% block body %}
	{{ include('partials/_navbar.html.twig') }}
	<div class="container mt-4">
		<h1 class="text-center">Update your public profile</h1>
		<a href="{{ path('app_profile_update_password') }}">Update password</a>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<input type="submit" value="Update profile" class="btn btn-primary">
		{{ form_end(form) }}
	</div>
{% endblock %}
