{% extends 'base.html.twig' %}

{% block title 'Update your profile password' %}

{% block body %}

    {{ include('partials/_navbar.html.twig') }}
    <div class="container mt-4">
        <h1 class="text-center">Update your password</h1>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <a href="{{ path('app_profile_index') }}">Update your profile</a>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Update password" class="btn btn-primary">
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}